*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive sans-serif;
}

.card{
    width: 40%;
    margin: 0 auto;
}.navbar{
    font-family:cursive;
    font-size: 16px;
    margin-bottom: 20px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }